@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }

  .snack__items {
    grid-template-columns: repeat(1, 100%);
  }

  .footer__info-left {
    margin-right: 50px;
  }

  .footer__info-right {
    margin-right: 150px;
    margin-left: 50px;
  }

  .footer__privacy li:last-child {
    margin-right: 190px;
    margin-left: 50px;
  }
}
